{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Update Profile</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}

</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
        <style>
                h2{
                    text-align: center;
                }
        </style>
      <div class="intro">
          <h2>Update Profile</h2>
        </div>
  <hr>
  <form  action="{%url 'newprofile' %}" method="post" enctype="multipart/form-data" style="margin-right: 30%;margin-left: 10%">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Update Profile">
  </form>
{% block content %}
<div class="container">
    
{% if profile.bio %}
   
    {{profile.bio}}
    <p></p>
    <h3><span><a class='maillink' href="{{profile}}">{{profile}}</a></span></h3>
    <p></p>
    <a href="{% url 'newprofile' %}"><button type="button" class="btn btn-info">Edit Profile</button></a>   
    <h3>
      <span class='repo-owner' style='color: rgb(34, 33, 33);'>Projects: </span>{{projectcount}}
    </h3>
    <br>
    <br>
 {% else %}
 <p></p>
    <a href="{% url 'newprofile' %}"><button type="button" class="btn btn-info">Update Profile</button></a>   
    
    <br>
    <br>
  {% endif %}
    <div class="your-photos">
      <h4>Your projects</h4>
      <p></p>
{% if projects %}
{% for project in projects %}
  <div class="row">
    <div class="jumbotron">
      <div class="col-md-04">
            <img style="width: 500px; " src="{{project.image.url}}" alt="{{ project.title }}">
          
              <h2 class="card-title firstletter">{{project.title}}</h2>
              <h4 class="card-text firstletter">{{ project.description | truncatechars:450 }}</h4>
              <h5 class="card-text"><a href="{% url 'home' %}"><button type="button" class="btn-dark" style="width: 10%;">View</button></a></h5>
            
      </div>
    </div>
        <br>
  </div>
{% endfor %}
{% else %}
<h4>No projects to show, Add one <a href="{% url 'newproject' %}">here</a>.</h4>
{% endif %}

    </div>
</div>


{% endblock %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
   {% endblock %}
</div>
</body>

</html>
