
    .btn btn-primary {
        text-align: center;
        margin-right: 50%;
    }
    body{
        background-image: url(https://cdn.wallpapersafari.com/9/30/WNC7JO.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        }
