{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


</head>

<body>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 style="text-align:center; color:rgb(77, 33, 31);font-family: cursive;">Reviews</h1>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">

        <div class="card card-cascade wider reverse my-4 pb-5">

            <div class="view view-cascade overlay wow fadeIn">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkbqkvOeqi0L9WYcbLA1Hgtve4ocGtFoa8zQ&usqp=CAU"
                    class="img-fluid" width="100%" height="50%">

                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
    </div>
    {%endblock%}