{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


</head>

<body>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 style="text-align:center; color:rgb(77, 33, 31);font-family: cursive;">Reviews</h1>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">

        <div class="card card-cascade wider reverse my-4 pb-5">

            <div class="view view-cascade overlay wow fadeIn">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkbqkvOeqi0L9WYcbLA1Hgtve4ocGtFoa8zQ&usqp=CAU"
                    class="img-fluid" width="100%" height="50%">

                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="col-md-4 mx-auto">
            <h2 class="firstletter">{{project.title}}</h2>
        </div>
      <hr>
      <div class="col-md-4 mx-auto">
          <img class='soloimg' src="{{project.image.url}}" alt="{{ project.title }}">
        <div class="card-body">
          <h5 class="card-title firstletter">{{project.title}}</h5>
          <p class="card-text">
            <p>{{project.description}}</p>
          </p>
          <p class="card-text" style="color: whitesmoke">Project by: {{project.postername}}</p>
        </div>
      </div>
      <div class="card-letter" style="text-align:center">
          <a target="_blank" href="{{ project.link }}"><button type="button" class="btn btn-md" style="background-color:#33705c;">View Site</button></a>  
          <a href="{% url 'newrating' project.id %}"><button type="button" class="btn btn-md" style="background-color:#33705c;">Rate</button></a>
      </div>
      <br>
      <br>
    
    
      <h5 style="text-align:center;text-decoration:underline">User Ratings</h5>
      {% if ratings%}
        <div class="row">
          {% for rating in ratings %}
          <div class="col-md-4">
      <div class="card text-white bg-dark mb-3">
          <div class="card-body firstletter" >
              <p>Design: {{rating.design}}</p>
              <p>Usability: {{rating.usability}}</p>
              <p>Content: {{rating.content}}</p>
              <p></p>
              <p>Average: {{rating.average}}</p>
            <footer class="blockquote-footer" style="color:white;"><cite title="Source Title">Rated By: {{rating.postername}}</cite></footer>
          </div>
        </div>
    </div>
      {% endfor %}
    </div>
      {% else %}
      <h4 style="text-align:center"> No Ratings Upto Now</h4>
      {% endif %}
      </div>
    <style>
    .btn btn-primary{
      text-align: center;
      margin-right: 50%;
    }
    </style>
    {% endblock %}